@import "_nullcss";

$bg-gray: #f7f7fa;
$l-gray: #bbc6de;
$m-gray: #9a9fbd;
$d-gray: #6e768f;
$fs-text: 12px;
$fs-middle: 16px;
$fs-title: 20px;

body {
	background-color: #eceef4;
	font-family: "Lato", sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.standart-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $l-gray;
	padding: 15px 20px;
	border-radius: 5px;
	background: $bg-gray;
}

.header {
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 140px;
	}

	&__back,
	&__sign {
		text-transform: uppercase;
		font-size: $fs-text;
		color: $m-gray;
	}

	&__back:hover,
	&__sign:hover {
		text-decoration: underline;
	}

	&__back-icon,
	&__sign-icon {
		padding-right: 8px;
	}

	&__logo-icon {
		height: 80px;
		width: 80px;
	}
}

.main {
	&__item {
		border: 1px solid $l-gray;
		border-radius: 5px;
		background-color: #fff;
	}

	&__header {
		display: flex;
		border-bottom: 1px solid $l-gray;
	}

	&__header-left {
		display: flex;
		justify-content: space-between;
		border-right: 1px solid $l-gray;
		padding: 30px 40px;
		flex: 0 1 65%;
	}

	&__header-right {
		flex: 0 1 35%;
	}
}

.main-info {
	width: 100%;
	padding-right: 40px;

	&__title {
		display: flex;
		align-items: center;
	}

	&__icon {
		padding-right: 20px;
	}

	&__subtitle {
		text-transform: uppercase;
		font-size: $fs-middle;
		font-weight: bold;
		color: $d-gray;
	}

	&__lists {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-left: 44px;
		padding-top: 40px;
	}
}

.main-list {
	&__title {
		text-transform: uppercase;
		font-size: $fs-text;
		font-weight: bold;
		letter-spacing: 10;
		color: $d-gray;
		padding-bottom: 8px;
	}

	&__text {
		font-size: $fs-text;
		color: $d-gray;
		font-weight: bold;
		font-weight: lighter;
	}
}

.main-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__order,
	&__print {
		width: 180px;
		text-transform: uppercase;
		color: $m-gray;
		letter-spacing: 10;
		font-weight: bold;
		background: $bg-gray;
	}

	&__order:hover,
	&__print:hover {
		color: white;
		background: #5fcac6;
	}

	&__order {
		margin-bottom: 10px;
	}
}

.main-help {
	padding: 30px 40px;
	&__title {
		display: flex;
		align-items: center;
	}

	&__icon {
		padding-right: 20px;
	}

	&__subtitle {
		text-transform: uppercase;
		font-size: $fs-text;
		font-weight: bold;
		color: $d-gray;
	}

	&__infornation {
		padding-left: 44px;
		padding-top: 10px;
	}

	&__text {
		color: $l-gray;
		font-size: $fs-text;
		line-height: 20px;
	}

	&__contacts {
		padding-left: 44px;
		padding-top: 10px;
		display: flex;
	}

	&__phone,
	&__email {
		font-size: $fs-text;
		font-weight: bold;
		color: $d-gray;
	}

	&__email {
		padding-left: 20px;
	}
}

.form {
	padding: 80px 60px;
}

.form-translate {
	&__title {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 15;
		font-size: $fs-title;
		color: $d-gray;
		padding-bottom: 10px;
		border-bottom: 1px solid $l-gray;
	}
}

.form-translate {
	&__inputs {
		display: flex;
		justify-content: space-around;
	}

	&__input {
	}

	&__radio {
		position: absolute;
		width: 100px;
		height: 100px;
		appearance: none;
	}

	&__info {
		width: 100px;
		height: 100px;
	}

	&__info-item {
	}

	&__img {
	}

	&__text {
	}
}
