* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, main {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.upload__title, .lang__title, .tone__title, .urgent__title, .sign__title {
  font-size: 20px;
  color: #6e768f;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
}

.header__back, .header__sign, .main-btns__order, .main-btns__print, .upload__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #bbc6de;
  padding: 15px 20px;
  border-radius: 5px;
  background: #f7f7fa;
}

.form-translate__lable, .tone__lable, .sign__lable {
  border: 1px solid #bbc6de;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7fa;
}

.form-translate__radio:focus + .form-translate__lable, .form-translate__radio:checked + .form-translate__lable, .tone__radio:focus + .tone__lable, .tone__radio:checked + .tone__lable, .sign__radio:focus + .sign__lable, .sign__radio:checked + .sign__lable {
  outline: none;
  border-radius: 5px;
  border: 5px solid #76a7e1;
}

.form-translate__radio:checked + .form-translate__lable::after,
.form-translate__radio:focus + .form-translate__lable::after, .tone__radio:checked + .tone__lable::after,
.tone__radio:focus + .tone__lable::after, .sign__radio:checked + .sign__lable::after,
.sign__radio:focus + .sign__lable::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: url(../icons/check.svg) 0 0/cover no-repeat;
  border: 5px solid #76a7e1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.lang__from-text, .lang__to-text {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #9a9fbd;
}

.sign__name-title, .sign__email-title, .sign__password-title, .sign__card-numb-title, .sign__card-data-title, .sign__card-code-title {
  font-size: 16px;
  color: #6e768f;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.sign__name-input, .sign__email-input, .sign__password-input, .sign__card-numb-input, .sign__card-data-input, .sign__card-code-input {
  height: 50px;
  width: 250px;
  padding-left: 15px;
  border: 1px solid #bbc6de;
  border-radius: 5px;
  font-size: 20px;
  color: #6e768f;
}

.sign__email-input:valid + .sign__email-lable::after,
.sign__name-input:valid + .sign__name-lable::after,
.sign__password-input:valid + .sign__password-lable::after, .sign__email-input:invalid + .sign__email-lable::after,
.sign__name-input:invalid + .sign__name-lable::after,
.sign__password-input:invalid + .sign__password-lable::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  right: 15px;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

body {
  background-color: #eceef4;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}

.header__back, .header__sign {
  text-transform: uppercase;
  font-size: 13px;
  color: #9a9fbd;
}

.header__back:hover, .header__sign:hover {
  text-decoration: underline;
}

.header__back-icon, .header__sign-icon {
  padding-right: 8px;
}

.header__logo-icon {
  height: 80px;
  width: 80px;
}

.main__item {
  border: 1px solid #bbc6de;
  border-radius: 5px;
  background-color: #fff;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #bbc6de;
}

.main__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid #bbc6de;
  padding: 30px 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}

.main__header-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.main-info {
  width: 100%;
  padding-right: 40px;
}

.main-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-info__icon {
  padding-right: 20px;
}

.main-info__subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #6e768f;
}

.main-info__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 44px;
  padding-top: 40px;
}

.main-list__title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #6e768f;
  padding-bottom: 8px;
}

.main-list__text {
  font-size: 13px;
  color: #6e768f;
  font-weight: bold;
  font-weight: lighter;
}

.main-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-btns__order, .main-btns__print {
  width: 180px;
  text-transform: uppercase;
  color: #9a9fbd;
  letter-spacing: 1px;
  font-weight: bold;
  background: #f7f7fa;
}

.main-btns__order:hover, .main-btns__print:hover {
  color: white;
  background: #5fcac6;
}

.main-btns__order {
  margin-bottom: 10px;
}

.main-help {
  padding: 30px 40px;
}

.main-help__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-help__icon {
  padding-right: 20px;
}

.main-help__subtitle {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #6e768f;
}

.main-help__infornation {
  padding-left: 44px;
  padding-top: 10px;
}

.main-help__text {
  color: #bbc6de;
  font-size: 13px;
  line-height: 20px;
}

.main-help__contacts {
  padding-left: 44px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-help__phone, .main-help__email {
  font-size: 13px;
  font-weight: bold;
  color: #6e768f;
}

.main-help__email {
  padding-left: 20px;
}

.form__container {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 10px;
}

.form__tone-urgent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-translate {
  padding: 60px 0px 80px;
}

.form-translate__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  color: #6e768f;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbc6de;
}

.form-translate__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-translate__radio {
  position: absolute;
  opacity: 0;
  width: 250px;
  height: 200px;
}

.form-translate__choice-block {
  position: relative;
}

.form-translate__lable {
  width: 250px;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-translate__radio:hover + .form-translate__lable {
  background-color: #e2e8ea;
}

.form-translate__img {
  padding-bottom: 10px;
}

.form-translate__text {
  font-size: 16px;
  color: #6e768f;
}

.upload__title::before {
  content: "1";
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  color: #9a9fbd;
  border: 2px solid #9a9fbd;
  border-radius: 50%;
}

.upload__title::after {
  content: "(Doc, Docx, Text, PDF, Markdown)";
  padding-left: 10px;
  font-size: 13px;
  font-weight: lighter;
  color: #6e768f;
}

.upload__content {
  padding: 40px 0 80px;
}

.upload__file {
  opacity: 0;
  height: 0;
  position: absolute;
}

.upload__lable {
  width: 230px;
}

.upload__lable:hover {
  background-color: #e2e8ea;
}

.upload__lable-text {
  font-size: 16px;
  color: #9a9fbd;
  font-weight: bold;
  padding-left: 8px;
}

.upload__info {
  border: 1px solid #bbc6de;
  border-radius: 5px;
  margin-top: 30px;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upload__info-title {
  font-size: 13px;
  text-transform: uppercase;
  color: #6e768f;
  font-weight: bold;
  letter-spacing: 1px;
}

.upload__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.upload__info-text {
  color: #9a9fbd;
  font-size: 13px;
  display: inline-block;
}

.upload__info-img {
  padding-right: 8px;
}

.upload__file-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.upload__file-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.upload__file-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.upload__file-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}

.lang__title::after {
  content: "2";
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  color: #9a9fbd;
  border: 2px solid #9a9fbd;
  border-radius: 50%;
}

.lang__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lang__from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.lang__select-item {
  position: relative;
}

.lang__select-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 40px;
  width: 1px;
  height: 40px;
  background-color: #bbc6de;
}

.lang__select {
  margin-left: 20px;
  padding: 10px 40px 10px 15px;
  width: 150px;
  height: 40px;
  border: 1px solid #bbc6de;
  border-radius: 5px;
  font-size: 16px;
  color: #9a9fbd;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../icons/arrow-down.svg) no-repeat 95% center;
  background-color: #f7f7fa;
}

.lang__select:hover {
  background-color: #e2e8ea;
}

.lang__select:focus {
  outline: none;
}

.lang__to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.lang__to-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang__rubbish {
  padding-left: 5px;
}

.lang__add {
  margin-left: 20px;
  height: 40px;
  border: 1px solid #bbc6de;
  border-radius: 5px;
  font-size: 16px;
  color: #9a9fbd;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  text-align: center;
  background-color: #f7f7fa;
  width: 120px;
}

.lang__add:hover {
  background-color: #e2e8ea;
}

.tone {
  margin-top: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.tone__title::after {
  content: "3";
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  color: #9a9fbd;
  border: 2px solid #9a9fbd;
  border-radius: 50%;
}

.tone__choice {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tone__choice-block {
  width: 200px;
  height: 60px;
  position: relative;
  margin-bottom: 40px;
}

.tone__radio {
  position: absolute;
  opacity: 0;
  width: 200px;
  height: 60px;
}

.tone__lable {
  width: 200px;
  height: 60px;
}

.tone__radio:hover + .tone__lable {
  background-color: #e2e8ea;
}

.tone__img {
  padding-right: 10px;
}

.tone__text {
  font-size: 16px;
  color: #6e768f;
}

.urgent {
  margin-top: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.urgent__title {
  margin-left: 130px;
}

.urgent__title::after {
  content: "4";
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  color: #9a9fbd;
  border: 2px solid #9a9fbd;
  border-radius: 50%;
}

.urgent__range {
  -webkit-appearance: none;
  width: 100%;
  margin: 80px auto 15px;
  padding: 0px 30px;
  position: relative;
}

.urgent__range::before {
  content: "";
  position: absolute;
  left: 26px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6e768f;
}

.urgent__range::after {
  content: "";
  position: absolute;
  right: 26px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6e768f;
}

.urgent__range:focus {
  outline: none;
}

.urgent__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #bbc6de;
  border-radius: 50px;
}

.urgent__range::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #edbe76;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

.urgent__range:focus::-webkit-slider-runnable-track {
  background: #9a9fbd;
}

.urgent__range::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #bbc6de;
  border-radius: 50px;
}

.urgent__range::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #edbe76;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

.urgent__point-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.urgent__point {
  font-size: 13px;
  color: #9a9fbd;
  text-transform: uppercase;
}

.urgent__point--orange {
  color: #edbe76;
}

.urgent__timeline-item {
  padding: 30px 50px 30px 100px;
  margin-top: 50px;
  border: 1px solid #bbc6de;
  border-radius: 5px;
}

.urgent__timeline-title {
  color: #6e768f;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
}

.urgent__timeline-title::before {
  content: "";
  position: absolute;
  left: -50px;
  top: -8px;
  background: url(../icons/info.svg) 100% repeat;
  width: 30px;
  height: 30px;
}

.urgent__timeline-text {
  font-size: 13px;
  color: #9a9fbd;
  line-height: 20px;
}

.urgent__timeline-span {
  color: #edbe76;
  font-weight: bold;
  text-transform: uppercase;
}

.sign {
  margin-top: 60px;
}

.sign__title::after {
  content: "5";
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  color: #9a9fbd;
  border: 2px solid #9a9fbd;
  border-radius: 50%;
}

.sign__subtitle {
  padding-top: 40px;
  font-size: 13px;
  color: #9a9fbd;
  font-weight: bold;
}

.sign__subtitle-link {
  color: #9a9fbd;
  text-decoration: underline;
}

.sign__name {
  padding-top: 40px;
}

.sign__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign__email {
  padding-top: 30px;
  padding-right: 20px;
}

.sign__password {
  padding-top: 30px;
}

.sign__password-input {
  letter-spacing: 5px;
}

.sign__email-input:valid + .sign__email-lable::after,
.sign__name-input:valid + .sign__name-lable::after,
.sign__password-input:valid + .sign__password-lable::after {
  background: url(../icons/sign-check-true.svg) 0 0/100% no-repeat;
}

.sign__email-input:invalid + .sign__email-lable::after,
.sign__name-input:invalid + .sign__name-lable::after,
.sign__password-input:invalid + .sign__password-lable::after {
  background: url(../icons/sign-check-false.svg) 0 0/100% no-repeat;
}

.sign__password-lable, .sign__email-lable, .sign__name-lable {
  position: relative;
  border: none;
  width: 0;
}

.sign__password-input::-webkit-input-placeholder, .sign__email-input::-webkit-input-placeholder, .sign__name-input::-webkit-input-placeholder {
  letter-spacing: 1px;
  font-size: 13px;
  color: #6e768f;
}

.sign__password-input:-ms-input-placeholder, .sign__email-input:-ms-input-placeholder, .sign__name-input:-ms-input-placeholder {
  letter-spacing: 1px;
  font-size: 13px;
  color: #6e768f;
}

.sign__password-input::-ms-input-placeholder, .sign__email-input::-ms-input-placeholder, .sign__name-input::-ms-input-placeholder {
  letter-spacing: 1px;
  font-size: 13px;
  color: #6e768f;
}

.sign__password-input::placeholder, .sign__email-input::placeholder, .sign__name-input::placeholder {
  letter-spacing: 1px;
  font-size: 13px;
  color: #6e768f;
}

.sign__password-input:focus, .sign__email-input:focus, .sign__name-input:focus {
  outline: none;
}

.sign__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0px;
}

.sign__choice-block {
  position: relative;
}

.sign__choice-block + .sign__choice-block {
  padding-left: 40px;
}

.sign__radio {
  position: absolute;
  opacity: 0;
  width: 250px;
  height: 150px;
}

.sign__lable {
  width: 250px;
  height: 150px;
}

.sign__radio:hover + .sign__lable {
  background-color: #e2e8ea;
}

.sign__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign__card-block + .sign__card-block {
  padding-left: 30px;
}

.sign__card-numb-input {
  width: 400px;
}

.sign__card-data-input {
  width: 200px;
}

.sign__card-code-input {
  width: 100px;
}

.sign__card-numb-input:focus, .sign__card-data-input:focus, .sign__card-code-input:focus {
  outline: none;
}

.sign__card-numb-input-item {
  position: relative;
}

.sign__card-numb-lable::after {
  content: "VISA";
  color: white;
  background-color: #9a9fbd;
  padding: 5px 8px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.sign__card-data-input::-webkit-input-placeholder {
  letter-spacing: 1px;
  font-size: 13px;
  color: #6e768f;
}

.sign__card-data-input:-ms-input-placeholder {
  letter-spacing: 1px;
  font-size: 13px;
  color: #6e768f;
}

.sign__card-data-input::-ms-input-placeholder {
  letter-spacing: 1px;
  font-size: 13px;
  color: #6e768f;
}

.sign__card-data-input::placeholder {
  letter-spacing: 1px;
  font-size: 13px;
  color: #6e768f;
}

.sign__card-numb-input:invalid, .sign__card-data-input:invalid, .sign__card-code-input:invalid {
  border: 1px solid red;
}
